USE [sneakerShop]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
	[buyDate] [datetime] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[cartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[cartId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NULL,
	[unitPrice] [float] NULL,
 CONSTRAINT [PK_CartItem] PRIMARY KEY CLUSTERED 
(
	[cartId] ASC,
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](200) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imagesProduct]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imagesProduct](
	[productId] [int] NOT NULL,
	[images] [varchar](255) NOT NULL,
 CONSTRAINT [PK_imagesProduce] PRIMARY KEY CLUSTERED 
(
	[productId] ASC,
	[images] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[cartID] [int] NOT NULL,
	[orderDate] [date] NULL,
	[status] [tinyint] NULL,
	[shipping] [tinyint] NULL,
	[totalPay] [bigint] NULL,
	[paymentType] [int] NULL,
	[address] [nvarchar](500) NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentType]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentType](
	[paymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[paymentTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_pmType] PRIMARY KEY CLUSTERED 
(
	[paymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](200) NULL,
	[categoryId] [int] NULL,
	[description] [nvarchar](500) NULL,
	[price] [float] NULL,
	[amount] [int] NULL,
	[status] [tinyint] NULL,
	[createDate] [date] NULL,
	[updateDate] [date] NULL,
	[sex] [nvarchar](10) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipment]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipmentID] [int] IDENTITY(1,1) NOT NULL,
	[shipperID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
 CONSTRAINT [PK_shipment] PRIMARY KEY CLUSTERED 
(
	[shipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[productId] [int] NOT NULL,
	[inStock] [int] NOT NULL,
	[lastUpdate] [date] NULL,
 CONSTRAINT [PK_ProductInStock] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[roleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/24/2022 5:17:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[fullname] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[images] [nvarchar](500) NULL,
	[phone] [nvarchar](20) NULL,
	[status] [int] NULL,
	[roleId] [int] NULL,
	[defaultAddress] [nvarchar](500) NULL,
	[paypalNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cartId], [userId], [buyDate], [status]) VALUES (1, 2, CAST(N'2022-10-14T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Cart] ([cartId], [userId], [buyDate], [status]) VALUES (2, 5, CAST(N'2022-10-16T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[CartItem] ([cartId], [productId], [quantity], [unitPrice]) VALUES (1, 1, 2, 1480000)
INSERT [dbo].[CartItem] ([cartId], [productId], [quantity], [unitPrice]) VALUES (1, 2, 5, 2980000)
INSERT [dbo].[CartItem] ([cartId], [productId], [quantity], [unitPrice]) VALUES (1, 31, 10, 25000000)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryId], [categoryName], [status]) VALUES (1, N'Adidas', 1)
INSERT [dbo].[Category] ([categoryId], [categoryName], [status]) VALUES (2, N'Nike', 1)
INSERT [dbo].[Category] ([categoryId], [categoryName], [status]) VALUES (3, N'MLB', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[imagesProduct] ([productId], [images]) VALUES (1, N'1a.jpg')
INSERT [dbo].[imagesProduct] ([productId], [images]) VALUES (1, N'1b.jpg')
INSERT [dbo].[imagesProduct] ([productId], [images]) VALUES (1, N'1c.jpg')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([orderID], [userID], [cartID], [orderDate], [status], [shipping], [totalPay], [paymentType], [address]) VALUES (1, 2, 1, CAST(N'2022-10-14' AS Date), 0, NULL, 100000, 1, N'10 Han Thuyen, Binh Tho, Thu Duc')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[paymentType] ON 

INSERT [dbo].[paymentType] ([paymentTypeID], [paymentTypeName]) VALUES (1, N'Thanh toán khi nhận hàng')
INSERT [dbo].[paymentType] ([paymentTypeID], [paymentTypeName]) VALUES (2, N'Chuyển khoảng ngân hàng')
INSERT [dbo].[paymentType] ([paymentTypeID], [paymentTypeName]) VALUES (3, N'Internet Banking')
SET IDENTITY_INSERT [dbo].[paymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productId], [productName], [categoryId], [description], [price], [amount], [status], [createDate], [updateDate], [sex]) VALUES (1, N'Giày Adidas Response Super 3.0', 1, N'Giày Adidas Response Super 3.0', 1480000, 2, 1, CAST(N'2022-10-14' AS Date), CAST(N'2022-10-14' AS Date), N'Unisex')
INSERT [dbo].[Product] ([productId], [productName], [categoryId], [description], [price], [amount], [status], [createDate], [updateDate], [sex]) VALUES (2, N'Giày Adidas Ultraboost 5.0 DNA GV8750', 1, N'Giày Adidas Ultraboost 5.0 DNA GV8750', 2980000, 5, 1, CAST(N'2022-10-14' AS Date), CAST(N'2022-10-14' AS Date), N'Unisex')
INSERT [dbo].[Product] ([productId], [productName], [categoryId], [description], [price], [amount], [status], [createDate], [updateDate], [sex]) VALUES (3, N'Giày Adidas Ultraboost 5.0 DNA GV8746', 1, N'Giày Adidas Ultraboost 5.0 DNA GV8746', 2980000, 0, 1, CAST(N'2022-10-14' AS Date), CAST(N'2022-10-14' AS Date), N'Unisex')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipment] ON 

INSERT [dbo].[Shipment] ([shipmentID], [shipperID], [orderID]) VALUES (1, 4, 1)
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO
INSERT [dbo].[Stock] ([productId], [inStock], [lastUpdate]) VALUES (1, 98, CAST(N'2022-10-15' AS Date))
INSERT [dbo].[Stock] ([productId], [inStock], [lastUpdate]) VALUES (2, 95, CAST(N'2022-10-15' AS Date))
INSERT [dbo].[Stock] ([productId], [inStock], [lastUpdate]) VALUES (3, 100, CAST(N'2022-10-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([roleId], [roleName]) VALUES (1, N'Admin')
INSERT [dbo].[UserRoles] ([roleId], [roleName]) VALUES (2, N'Seller')
INSERT [dbo].[UserRoles] ([roleId], [roleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userId], [username], [email], [fullname], [password], [images], [phone], [status], [roleId], [defaultAddress], [paypalNumber]) VALUES (1, N'Admin1', N'admin1@gmail.com', N'admin', N'admin123', N'admin.jpg', N'1111111111', 1, 1, N'1 Vo Van Ngan', NULL)
INSERT [dbo].[Users] ([userId], [username], [email], [fullname], [password], [images], [phone], [status], [roleId], [defaultAddress], [paypalNumber]) VALUES (2, N'Customer1', N'customer1@gmail.com', N'customer1', N'customer123', N'user.jpg', N'3333333333', 1, 3, N'2 Le Van Chi', NULL)
INSERT [dbo].[Users] ([userId], [username], [email], [fullname], [password], [images], [phone], [status], [roleId], [defaultAddress], [paypalNumber]) VALUES (3, N'Seller1', N'seller1@gmail.com', N'seller1', N'seller123', N'user.jpg', N'2222222222', 1, 2, N'3 Le Van Viet', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[CartItem] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT (getdate()) FOR [lastUpdate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [roleId]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_cartUsers] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_cartUsers]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_cartitemCart] FOREIGN KEY([cartId])
REFERENCES [dbo].[Cart] ([cartId])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_cartitemCart]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_cartitemProduct] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_cartitemProduct]
GO
ALTER TABLE [dbo].[imagesProduct]  WITH CHECK ADD  CONSTRAINT [FK_images] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[imagesProduct] CHECK CONSTRAINT [FK_images]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_orderCart] FOREIGN KEY([cartID])
REFERENCES [dbo].[Cart] ([cartId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_orderCart]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_orderPaymentType] FOREIGN KEY([paymentType])
REFERENCES [dbo].[paymentType] ([paymentTypeID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_orderPaymentType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_orderUser] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_orderUser]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_category]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_shipOrder] FOREIGN KEY([orderID])
REFERENCES [dbo].[Order] ([orderID])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_shipOrder]
GO
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_shipper] FOREIGN KEY([shipperID])
REFERENCES [dbo].[Users] ([userId])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_shipper]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_stock] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_stock]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_userrole] FOREIGN KEY([roleId])
REFERENCES [dbo].[UserRoles] ([roleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_userrole]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD CHECK  (([inStock]>=(0)))
GO
